@charset "UTF-8";
.project__h2 {
  padding-left: 20px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  margin: 60px 0 60px 5%;
  display: block; }

.news__title {
  line-height: 30px;
  text-align: center;
  font-weight: 300; }

.news-btn-svg {
  fill: #3383EA; }

.card-body {
  background-color: #fff;
  overflow-y: auto;
  height: calc(95vh - 210px); }
  .card-body h3::after {
    content: "";
    color: #fff;
    width: min-content;
    margin-top: 9px;
    height: 3px;
    background: #556FA0;
    display: block; }
  .card-body .h3-1::after {
    content: 'Задачи'; }
  .card-body .h3-2::after {
    content: 'Используемое оборудование'; }
  .card-body p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.045em;
    margin: 30px 0; }

.btn-wrp {
  width: 150px;
  height: 42px;
  display: flex;
  position: absolute;
  bottom: -14px;
  right: 70px; }
  .btn-wrp .btn-prev {
    width: 50%;
    height: 100%;
    border: none;
    background-image: url("../img/prev-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(149, 163, 191, 0.7); }
  .btn-wrp .btn-next {
    border: none;
    background-image: url("../img/next-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
    background-color: rgba(149, 163, 191, 0.7); }

.news__card-wrp {
  margin: 0 auto;
  width: 80%; }

@media (min-width: 530px) {
  .h3-2::after {
    content: 'Используемое оборудование';
    white-space: nowrap; } }

.news__card {
  margin: 0 auto;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 240px;
  height: 300px;
  min-width: 200px;
  display: none; }

.news-active {
  transition: ease-in-out 0.3s;
  display: block; }

.news__img {
  width: 100%;
  height: 120px; }

.news__card-content {
  padding: 10px; }

.news__card-date-btn-wrp {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.news__card-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px; }

.news__card-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin: 15px 0; }

.news__card-date {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.02em; }

.news__card-btn {
  display: block;
  text-decoration: none;
  color: white;
  width: 95px;
  height: 24px;
  border-radius: 15px;
  background: linear-gradient(91.24deg, #3383EA 29.88%, #226AC6 81.31%);
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #F8F8F8;
  position: relative; }
  .news__card-btn:hover {
    width: 110px;
    letter-spacing: 0.1em; }

.news__wrp {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px auto  50px;
  padding: 0 10px;
  max-width: 1340px; }

@media (min-width: 700px) {
  .news__card-wrp {
    display: flex;
    justify-content: space-between; }
  .news__h2 {
    font-size: 31px;
    line-height: 60px; } }

.slider-container {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1160px; }

.slider-track {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  transition: .35s; }

.slider-item {
  margin: 0 auto;
  width: 95%;
  height: auto; }

.news__card1 {
  margin: 7px;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25); }
  .news__card1 header {
    position: relative;
    width: 100%;
    height: 210px;
    padding: 35px 20px; }
    .news__card1 header img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .news__card1 header h5 {
      position: relative;
      z-index: 3;
      font-size: 25px;
      line-height: 30px;
      font-weight: 700;
      color: #fff;
      letter-spacing: -0.04em; }
    .news__card1 header p {
      position: absolute;
      bottom: 0px;
      margin-bottom: 35px;
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: -0.04em;
      line-height: 20px; }

.slider-buttons {
  text-align: center; }

.news__btn:disabled {
  opacity: 0.7; }

.h3-2, .h3-1 {
  font-size: 25px;
  line-height: 34px; }

.news-wrp {
  max-width: 1240px;
  width: 95%;
  position: relative;
  margin: -20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media (min-width: 960px) {
  .project__h2 {
    padding: 0;
    margin: 60px auto;
    text-align: center; }
  .news__card1 {
    display: flex;
    height: 540px; }
    .news__card1 header {
      height: auto;
      width: 43%; }
    .news__card1 .card-body {
      width: 57%;
      height: 540px; }
  .news__card1 header h5 {
    font-size: 30px;
    line-height: 42px;
    margin-top: 60px; }
  .news__card1 header p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 50px; } }

@media (min-width: 1080px) {
  .news__card1 header h5 {
    font-size: 40px;
    line-height: 42px;
    margin-top: 60px; } }

.partners {
  max-width: 1130px;
  margin: 0 auto; }

.news__btn {
  transition: .2s; }
  .news__btn:hover {
    background-color: rgba(149, 163, 191, 0.9); }
  .news__btn:active {
    opacity: 0.6; }
  .news__btn:disabled {
    background-color: rgba(216, 216, 216, 0.8); }

.cell-wrp {
  margin-bottom: 40px; }

.cell {
  border: none;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 40%;
  min-width: 300px;
  min-height: 300px; }
  .cell img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    max-width: none;
    min-width: auto;
    min-height: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.cell--anim {
  opacity: 1;
  transition: .4s;
  text-align: center;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: calc(100% - 50px);
  height: calc(100% - 70px);
  margin: 35px 25px; }
  .cell--anim:after {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: scale(0, 1);
    opacity: 1;
    content: '';
    position: absolute;
    transition: .4s;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    left: 0px;
    top: 0px; }
  .cell--anim:before {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: scale(1, 0);
    opacity: 1;
    content: '';
    position: absolute;
    transition: .4s;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    left: 0px;
    top: 0px; }
  .cell--anim h2 {
    margin-top: 20px;
    transition: .4s;
    color: #fff; }
  .cell--anim p {
    color: #fff;
    opacity: 0;
    transition: .4s; }

.cell--anim:hover:after {
  transform: scale(1, 1);
  opacity: 1; }

.cell--anim:hover:before {
  transform: scale(1, 1);
  opacity: 1; }

.cell--anim:hover h2 {
  font-size: 40px; }

.cell--anim:hover p {
  opacity: 1; }

.logo-wrp {
  margin-right: 0;
  display: flex;
  align-items: center; }

.logo-text {
  margin-left: 10px; }

.logo-name {
  font-size: 12px;
  font-weight: 500;
  color: #313131;
  margin-bottom: 3px;
  line-height: 12px; }

.logo-slogan {
  line-height: 10px;
  font-size: 8px;
  margin-bottom: 0px;
  letter-spacing: -0.055em;
  color: #313131; }

.nav-tel {
  margin-left: auto;
  margin-right: 20px; }

.tel-number-wrp {
  display: none;
  text-align: center; }

.navbar-toggler {
  position: relative;
  width: 30px;
  height: 21px; }

.toggle-line {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #313131; }

.toggle-line--first {
  top: 0; }

.toggle-line--second {
  top: 7px; }

.toggle-line--third {
  top: 14px; }

@media (max-width: 330px) {
  .nav-tel {
    margin-right: 5px; }
    .nav-tel img {
      width: 23px;
      height: 23px; } }

@media (min-width: 470px) {
  .tel-number-wrp {
    display: block; }
  .nav-tel img {
    display: none; }
  .tel-number {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #313131;
    margin-bottom: 5px; }
  .tel-text {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 10px;
    color: #313131;
    line-height: 12px; } }

.nav-link {
  color: #313131; }

@media (min-width: 990px) {
  .nav-tel {
    order: 3; }
  .nav-list-wrp {
    order: 2; }
    .nav-list-wrp ul {
      width: 83%;
      justify-content: space-between !important; }
  .logo-name {
    font-size: 16px;
    line-height: 20px; }
  .logo-slogan {
    font-size: 10px; }
  .logo-wrp img {
    width: 79px;
    height: 79px; } }

.navbar-expand-lg {
  max-width: 1160px;
  margin: 0 auto; }

@media (min-width: 1190px) {
  .navbar {
    padding-left: 0;
    padding-right: 0; } }

.nav-link:hover {
  color: inherit; }

@media (min-width: 992px) {
  .nav-link:after {
    pointer-events: none;
    opacity: 0;
    transition: ease opacity 0.3s;
    transition-delay: .0s; }
  .nav-link:hover:after {
    opacity: 1; }
  .nav-link::after {
    transition: .2s;
    opacity: 0;
    margin-bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    width: inherit;
    background: linear-gradient(92.2deg, #95A3BF 25.37%, #5D7CA6 67.28%); } }

.nav-tel:hover {
  text-decoration: none; }
  .nav-tel:hover div p {
    color: #3f6aa7; }

.logo-wrp:hover div p {
  color: #3f6aa7; }

@media (min-width: 700px) {
  .footer__adress-1 {
    white-space: pre; } }

/*
  .wrapper-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }
  
  .wrapper-menu.open {
    transform: rotate(-45deg);  
  }
  
  .line-menu {
    background-color: #000;
    border-radius: 2px;
    width: 100%;
    height: 3px;
  }
  
  .line-menu.half {
    width: 50%;
  }
  
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  .open .center{
      width: 70%;
  }
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(2px);
  }
  
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-2px);
  }
  */
.wrapper-menu {
  height: 30px;
  width: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .wrapper-menu:hover {
    cursor: pointer; }

.hambergerIcon {
  height: 3px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  background-color: #313131;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s; }
  .hambergerIcon::before, .hambergerIcon::after {
    content: "";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    transition: all ease 0.5s; }
  .hambergerIcon::before {
    top: -10px;
    left: 0;
    transform-origin: left; }
  .hambergerIcon::after {
    bottom: -10px;
    right: 0;
    transform-origin: right; }

.open {
  transform: translate(-50%, -50%) rotate(135deg); }
  .open::before {
    top: 0;
    transform: translateX(100%) rotate(-90deg); }
  .open::after {
    bottom: 0;
    transform: translateX(-100%) rotate(-90deg); }

.header__body--wrp {
  width: 100%;
  background-image: url("../img/header-bg.jpeg");
  background-repeat: no-repeat;
  position: relative;
  height: 480px;
  background-position-x: -742px; }

.header__body--bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(127.26deg, rgba(41, 40, 40, 0.64) 43.16%, rgba(37, 37, 37, 0.460156) 49.52%, rgba(34, 34, 34, 0.295833) 60.54%, rgba(30, 30, 30, 0) 72.18%); }

.header__body {
  z-index: 3;
  position: relative;
  padding: 0 20px; }
  .header__body p {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.045em;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 60px; }

.header__h2 {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 25px;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #FFFFFF; }

@media (min-width: 690px) {
  .header__body--wrp {
    background-position: top center;
    background-size: cover; }
  .header__body--bg {
    background: linear-gradient(127.26deg, rgba(41, 40, 40, 0.84) 43.16%, rgba(37, 37, 37, 0.660156) 49.52%, rgba(34, 34, 34, 0.395833) 60.54%, rgba(30, 30, 30, 0) 72.18%); }
  .header__body {
    max-width: 1160px;
    margin: 0 auto; }
    .header__body p {
      font-size: 18px;
      line-height: 24px; }
  .header__h2 {
    font-size: 50px;
    line-height: 45px; } }

@media (min-width: 1190px) {
  .header__body {
    padding: 0; } }

.button {
  box-shadow: 0px 12px 30px rgba(97, 127, 168, 0.54); }

.services__item {
  position: relative;
  height: 320px;
  width: 277px;
  padding: 20px; }
  .services__item .services__item--bg {
    position: absolute;
    top: 0px; }

.services__h3 {
  transition: all .2s;
  z-index: 2;
  position: relative;
  color: #fff;
  margin-left: 10px;
  margin-top: 57px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-transform: uppercase; }

.services__list {
  margin: 44px 0; }

.services__arrow-wrp {
  display: flex;
  justify-content: center; }
  .services__arrow-wrp .arrow-img {
    margin-left: 80px;
    margin-right: -25px;
    width: 85px !important;
    height: auto !important;
    position: relative; }
  .services__arrow-wrp .circle-img {
    position: relative;
    width: 48px !important;
    height: 48px !important; }

.services__link {
  transition: all .2s;
  position: absolute;
  bottom: 35px;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .services__link span {
    margin-bottom: -20px;
    font-size: 15px; }
  .services__link:hover {
    color: #fff;
    text-decoration: none; }

.services__list {
  list-style: none; }

.services__item {
  background-position: top center;
  background-size: cover; }

.service__item--1 {
  background-image: url("../img/services-1.jpg"); }

.service__item--2 {
  background-image: url("../img/services-3.jpg"); }

.service__item--3 {
  background-image: url("../img/services-4.jpg"); }

.service__item--4 {
  background-image: url("../img/services-5.jpg"); }

.service__item--5 {
  background-image: url("../img/services-2.jpg"); }

@media (min-width: 950px) {
  .services__item {
    transition: all .3s;
    height: auto;
    padding: 20px;
    width: 24%;
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 310px;
    height: calc(48vw / 1.8);
    position: absolute; }
    .services__item .services__item--bg {
      position: absolute;
      top: 0px; }
  .services__list {
    position: relative;
    transition: .2s;
    margin: 0 auto;
    max-width: 1160px;
    max-height: 650px;
    margin-top: 70px;
    transition: all .35s;
    width: calc(100% - 40px);
    height: calc(100vw / 1.8); }
  .services__link {
    display: none; }
  .services__h3 {
    margin: 0px;
    text-align: center; }
  .services__list .service__item--1 {
    top: 0;
    left: 0; }
  .services__list .service__item--2 {
    top: 0;
    left: 50%; }
  .services__list .service__item--3 {
    top: 50%;
    left: 50%; }
  .services__list .service__item--4 {
    top: 0;
    left: 75%; }
  .services__list .service__item--5 {
    top: 50%;
    left: 75%; }
  .services__list {
    /*.service__hover--3-2{
        left: 0;
        top: 50%;
    }*/ }
    .services__list .service__hover--1-1 {
      top: 0;
      left: 0; }
    .services__list .service__hover--1-2 {
      top: 0;
      left: 25%; }
    .services__list .service__hover--2-1 {
      left: 0px;
      top: 50%; }
    .services__list .service__hover--1-2 {
      left: 25%;
      top: 0; }
    .services__list .service__hover--1-3 {
      left: 50%;
      top: 0; }
    .services__list .service__hover--2-2 {
      left: 25%;
      top: 50%; }
    .services__list .service__active {
      width: 49%;
      height: calc(100vw / 1.8 - 2%);
      z-index: 3;
      max-height: 635px; }
      .services__list .service__active h3 {
        font-size: 38px;
        transition: .2s;
        line-height: 47px;
        margin-top: -150px; }
      .services__list .service__active .services__link {
        margin-left: 60px;
        display: flex; }
        .services__list .service__active .services__link .arrow-img {
          width: 156px !important;
          margin-right: -55px; }
        .services__list .service__active .services__link .circle-img {
          width: 100px !important;
          height: 100px !important; }
      .services__list .service__active .services__link span {
        margin-right: 30px;
        font-size: 20px; }
    .services__list .service__hover--2-3 {
      left: 50%;
      top: 50%; }
    .services__list .service__hover--2-4 {
      left: 75%;
      top: 50%; }
    .services__list .service__hover--1-4 {
      left: 75%;
      top: 0%; }
    .services__list .service__hover--4-4 {
      left: 75%;
      top: 50%; } }

.adventages__wrp {
  padding: 40px 20px 0; }

.advantages__left {
  display: none; }

.adv__h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 134.69%;
  /* or 47px */
  letter-spacing: -0.065em;
  color: #FFFFFF; }

.advent__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 154.19%;
  letter-spacing: -0.045em;
  color: #FFFFFF; }

.adventages__text-wrp {
  margin-bottom: 50px; }

.advantagest__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.advantages__item {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 45%;
  margin-bottom: 25px; }

.advantages__numeral {
  font-family: 'Georgia' !important;
  background: linear-gradient(101.87deg, #053959 6.37%, #496373 73.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  width: 100%;
  line-height: 107px;
  letter-spacing: -0.04em; }

@media (min-width: 600px) {
  .adventages__wrp {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .adventages__text-wrp {
    width: 60%;
    margin-bottom: 40px; }
  .advantagest__list {
    flex-direction: column; }
  .advantages__item {
    width: 100%; } }

@media (min-width: 1040px) {
  .advantages {
    background-position: top right;
    max-width: 1330px;
    margin: 150px auto 0; }
  .advantages__left {
    width: 36%;
    margin-right: 30px;
    height: auto;
    display: block;
    margin-top: -40px;
    margin-left: -20px; }
  .adv__h2 {
    font-size: 40px;
    margin-bottom: 30px; }
  .advantagest__list {
    width: 34%; }
  .advent__text {
    font-size: 20px;
    line-height: 31px; }
  .img-3 {
    width: 72px;
    margin-bottom: 15px; }
  .img-150 {
    margin-bottom: 15px;
    width: 172px; } }

@media (min-width: 1120px) {
  .advantages__left {
    width: 420px;
    margin-top: -62px; }
  .adv-bg-wrp {
    height: 660px;
    margin-bottom: 100px; } }

.adv-bg-wrp {
  background-image: url("../img/adv-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }

.call-bg {
  background-color: #415B6B;
  padding: 45px 15px; }
  .call-bg div input {
    margin-top: 15px; }
  .call-bg div button {
    margin-top: 40px; }

@media (min-width: 768px) {
  .cal-bg {
    padding: 60px; } }

.footer-bg {
  background-color: #496373; }

.page-footer {
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  max-width: 1330px;
  flex-direction: column;
  align-items: center; }

.logo-footer__wrp {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .logo-footer__wrp img {
    margin-bottom: 22px; }
  .logo-footer__wrp p {
    max-width: 240px;
    display: block;
    margin-bottom: 0;
    color: #fff; }

.footer__link-list {
  list-style: none;
  text-align: center;
  margin-top: 70px; }

.footer__link-item {
  margin-bottom: 30px; }
  .footer__link-item a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600; }

.footer__contacts {
  color: #fff;
  font-size: 20px; }

@media (min-width: 900px) {
  .page-footer {
    padding: 60px 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .footer__link-list {
    margin: 0;
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: row; }
  .footer__l-c-wrp {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center; } }

@media (min-width: 992px) {
  .footer__link:after {
    pointer-events: none;
    opacity: 0;
    transition: ease opacity 0.3s;
    transition-delay: .0s; }
  .footer__link:hover:after {
    opacity: 1; }
  .footer__link::after {
    transition: .2s;
    opacity: 0;
    margin-bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    width: inherit;
    background: linear-gradient(92.2deg, #95A3BF 25.37%, #5D7CA6 67.28%); } }

/*
.modal-header{
    flex-direction: column-reverse;
    border: none;
}

.modal-footer{
    border: none;
}

.modal-content{
    width: 530px;
    border-radius: none;
}

.modal-text, .modal__title{
    text-align: center !important;
}

.modal__body{
    display: flex;
    padding: 0 30px;
}

.modal__left{
    input{
        margin-bottom: 20px;
    }
}

.modal-footer{
    margin-right: auto; 
}*/
.modal-dialog {
  max-width: 600px; }

.modal-content {
  background-image: url("../img/logo-modal.png");
  background-repeat: no-repeat;
  background-size: 169px 169px;
  background-position: bottom right;
  padding: 40px 20px;
  width: 100%;
  max-width: 600px;
  height: auto;
  background-color: #ffffff;
  display: block;
  border-radius: 0;
  border: none;
  position: relative; }
  .modal-content h3 {
    text-align: center;
    font-size: 30px; }
  .modal-content p {
    text-align: center; }
  .modal-content .button-modal {
    width: 100%;
    margin-top: 40px; }

.close-modal {
  top: 15px;
  width: 30px;
  height: 30px;
  right: 20px;
  background-color: #fff;
  border: none;
  position: absolute;
  transition: ease-in .2s; }
  .close-modal:hover {
    transform: scale(1.2); }

.modal__left {
  margin-top: 40px; }
  .modal__left input {
    margin-bottom: 20px;
    width: 100%; }

.modal__right {
  margin-top: 20px; }

.modal__time-wrp {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto; }

@media (min-width: 600px) {
  .modal-content {
    padding: 40px 60px; }
    .modal-content .button-modal {
      width: 48%; }
  .modal__left {
    width: 48%; }
  .modal__right {
    width: 45%; }
  .modal-centr-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

.breadcrumb-item + .breadcrumb-item::before.breadcrumb-item + .breadcrumb-item::before {
  content: '-'; }

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: "-"; }

.breadcrumb {
  background-color: #fff;
  max-width: 1260px;
  margin: 0 auto; }

.breadcrumb-item a {
  text-decoration: none;
  color: #5A5A5A; }
  .breadcrumb-item a:hover {
    text-decoration: none; }

.map {
  width: 90%;
  margin: 0 auto;
  max-width: 1220px; }
  .map iframe {
    width: 100%; }

.contact__h2 {
  padding-left: 5%;
  margin: 40px 0; }

@media (min-width: 960px) {
  .contact__h2 {
    padding-left: 0%; } }

.map--modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 45px 25px;
  max-width: 330px;
  height: 315px;
  background: rgba(43, 42, 42, 0.6);
  backdrop-filter: blur(10px);
  margin: 30px auto;
  position: relative;
  z-index: 2;
  color: #fff; }
  .map--modal p {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.04em; }
  .map--modal div img {
    margin-right: 20px; }

.scores {
  width: 90%;
  max-width: 1220px;
  margin: 30px auto;
  margin-bottom: 50px; }
  .scores p {
    font-size: 25px;
    line-height: 33px;
    font-weight: 400;
    letter-spacing: -0.015em; }

@media (min-width: 900px) {
  .map iframe {
    height: 550px; }
  .map--modal {
    margin-top: -445px;
    margin-left: 55%;
    margin-right: 0;
    margin-bottom: 180px; } }

@media (min-width: 900px) {
  .map--modal {
    margin-left: 57%; } }

.contacts--textarea {
  margin-top: 15px;
  min-height: 133px; }

.contacts-call {
  margin-top: 13px !important; }

.contact-input-wrp {
  max-width: 630px;
  margin: 0 auto; }

.call-bg h2 {
  font-size: 35px;
  letter-spacing: -0.035em;
  color: #FFFFFF;
  line-height: 47px;
  font-weight: 700; }

.call-bg p {
  color: #fff; }
  .call-bg p br {
    display: none; }

@media (min-width: 560px) {
  .call-bg p br {
    display: inline-block; } }

.modal-close {
  position: absolute;
  top: 15px;
  right: 32px;
  z-index: 14;
  background-color: rgba(255, 255, 255, 0.6);
  border: none; }

.modal--project {
  margin: 15px 0; }
  .modal--project .btn-wrp {
    bottom: -21px; }

.news-wrp {
  position: relative; }

.modal-bg {
  display: none;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4); }

.project-card {
  height: 90vh;
  max-height: 1000px; }

.project-wrp {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.project-card {
  background-color: #fff; }
  .project-card header {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden; }
    .project-card header img {
      text-align: center;
      max-width: none;
      min-width: auto;
      min-height: auto;
      object-fit: cover;
      height: auto;
      width: auto;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .project-card header figcaption {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100%; }
      .project-card header figcaption h2 {
        margin-top: 30px;
        margin-bottom: 0; }
  .project-card .project-card__title-wrp {
    z-index: 10;
    color: #fff;
    position: relative;
    text-align: center; }

.project-card__body {
  overflow-y: auto;
  height: calc(100% - 200px);
  padding: 20px 15px; }

.bottom_hr {
  width: 80%;
  height: 4px;
  border: none;
  border-radius: 50%;
  background-color: #000;
  box-shadow: inset 0px 0px 1px 1px white;
  display: block; }

.cell {
  display: block; }

.owl-nav {
  right: 16px;
  width: 147px;
  height: 42px;
  background-color: rgba(149, 163, 191, 0.6);
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 25px;
  top: 202px; }

.owl-carousel .owl-nav button.owl-prev {
  width: 50%;
  background-repeat: no-repeat;
  content: "";
  font-size: 0;
  background-position: center;
  background-image: url("../img/prev-btn.svg"); }

.owl-carousel .owl-nav button.owl-next {
  width: 50%;
  background-repeat: no-repeat;
  content: "";
  font-size: 0;
  background-position: center;
  background-image: url("../img/next-btn.svg"); }

.owl-carousel .owl-nav button:hover {
  background-color: rgba(149, 163, 191, 0.2); }

.owl-carousel .owl-nav button:active {
  opacity: 0.6; }

.project-card__title-wrp:after {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: scale(1, 1);
  opacity: 1;
  content: '';
  position: absolute;
  transition: .4s;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  left: 20px;
  top: 20px; }

.project-card__title-wrp:before {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: scale(1, 1);
  opacity: 1;
  content: '';
  position: absolute;
  transition: .4s;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  left: 20px;
  top: 20px; }

.project-card__text-block h5 {
  width: min-content;
  font-size: 23px;
  font-weight: 400; }

.project-card__text-block p {
  font-weight: 300; }

.project-card__text-block h5::after {
  display: block;
  content: "";
  width: auto;
  height: 3px;
  background-color: #566FA0; }

@media (min-width: 404px) {
  .project-card__text-block h5 {
    white-space: pre; } }

@media (min-width: 960px) {
  .cell-wrp {
    max-width: 1240px;
    width: 90%;
    margin: 80px auto 40px;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 59% 39%;
    grid-template-rows: 390px 170px 210px; }
    .cell-wrp :nth-child(2) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3; }
    .cell-wrp :nth-child(3) {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2; }
    .cell-wrp :nth-child(4) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3; }
  .cell {
    width: 100%;
    min-height: auto; }
  .project-card {
    padding: 50px 60px;
    overflow-y: auto; }
    .project-card header {
      height: 400px; }
  .project-card__body {
    overflow-y: hidden;
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto; }
  .project-card__text-block {
    width: 47%;
    padding: 20px 0;
    display: inline-block;
    margin-bottom: auto; }
  .popup__cancel {
    background-color: rgba(0, 0, 0, 0);
    top: 14px;
    right: 40px; }
  .project-card__title-wrp h2 {
    font-size: 40px;
    line-height: 40px;
    padding-top: 50px; }
  .project-card__title-wrp p {
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    padding-bottom: 50px; }
  .owl-nav {
    right: 60px;
    bottom: 30px;
    top: unset; } }

.show-more {
  width: 220px;
  height: 100px;
  align-items: center;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .show-more p {
    font-size: 18px;
    font-weight: 300; }

.brand-wrp {
  max-width: 1160px;
  margin: 0 auto; }

.equip-more-btn {
  position: relative;
  width: 120px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  border: none;
  font-weight: 300;
  transition: .2s;
  background-color: #fff; }
  .equip-more-btn span {
    position: absolute;
    top: 0;
    transition: ease-in .2s;
    left: 0;
    height: 21px;
    width: 100%;
    max-width: 18px;
    background-color: #566FA0; }
    .equip-more-btn span img {
      position: absolute;
      left: 7px;
      top: 6px; }
  .equip-more-btn p {
    transition: .2s;
    line-height: 21px;
    padding-left: 15px;
    z-index: 2;
    position: relative; }
  .equip-more-btn:hover span {
    max-width: 100%; }
  .equip-more-btn:hover p {
    color: #fff; }

.equip-wrp {
  max-width: 900px;
  margin-top: 150px;
  margin-bottom: 110px; }

.equip-card h5 {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500; }

.equip-card p {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: -0.035em;
  font-weight: 300;
  line-height: 24px;
  color: rgba(49, 49, 49, 0.7); }

.equip-hr {
  border: none;
  height: 2px;
  margin: 40px 0;
  width: 100%;
  background: radial-gradient(41.8% 3418929.19% at 52.24% 0.04%, #566FA0 0%, rgba(86, 111, 160, 0) 100%); }

@media (min-width: 1120px) {
  .equip-hr {
    width: 140%;
    max-width: 1160px;
    margin-left: -20%; } }

.equip-hr--modal {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.equip-modal {
  left: 50%;
  right: 50%;
  width: 100%;
  height: 100vh;
  max-width: 1160px;
  z-index: 10;
  background: #fff;
  position: fixed;
  top: 0;
  padding-bottom: 50px;
  transform: translate(-50%, 0%);
  display: none;
  background-image: url("../img/logo-modal-big.png");
  background-repeat: no-repeat;
  background-position: left bottom; }

.equip-modal__header {
  text-align: center;
  font-size: 25px;
  width: 100%;
  margin-bottom: 0px;
  height: 80px;
  line-height: 80px;
  background-color: #F6F6F6; }

.equip-modal-wrp {
  height: calc(100vh - 80px);
  width: 100%;
  padding-top: 20px;
  overflow-y: scroll; }

.equip__modal-close {
  position: absolute;
  top: 22px;
  right: 33px;
  border: none;
  background: rgba(0, 0, 0, 0); }

@media (max-width: 600px) {
  .equip-modal__header {
    height: 100px;
    line-height: 25px; }
    .equip-modal__header p {
      display: block;
      text-align: left;
      width: 90%;
      margin-left: 10px;
      padding-top: 20px; }
  .equip-modal {
    background-size: 40%; }
  .equip__modal-close {
    top: 30px;
    right: 10px; } }

.equip-modal__bg {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.equip-list {
  margin-left: 7px;
  color: #566FA0;
  font-size: 20px; }
  .equip-list span {
    color: #313131;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px; }

.equip-modal__title {
  font-weight: 600;
  font-size: 20px; }

.modal-bottom {
  height: 50px; }

.services-cell {
  width: 200px;
  height: 233px;
  display: block;
  overflow: hidden;
  margin-top: 25px; }
  .services-cell img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.services-cell--active {
  height: 280px;
  width: 300px;
  margin-top: 0; }

.services-cel--wrp {
  padding-left: 30px;
  max-width: 1220px;
  margin: 0 auto; }

.services-page__p {
  letter-spacing: -0.045em;
  font-weight: 400;
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: rgba(49, 49, 49, 0.8); }

.services-page__h3 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  max-width: 800px;
  margin: 80px auto 40px;
  font-weight: 600;
  letter-spacing: -0.03em; }

@media (min-width: 900px) {
  .services-page__h3 {
    font-size: 35px;
    line-height: 46px;
    margin: 120px auto 70px; }
  .services-page__p {
    margin-bottom: 120px; } }

.services-accordion {
  padding: 0 20px;
  max-width: 1210px;
  margin: 0 auto 120px; }

.card-header {
  position: relative;
  border: none;
  background-color: #fff; }

.accordion-marker {
  height: 30px;
  margin-top: -15px;
  transition: .4s;
  position: absolute;
  right: 20px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.card {
  border: none; }

.rotate-180 {
  transform: rotate(-180Deg); }

.btn-accordion {
  border-radius: 0px;
  padding-right: 40px;
  text-align: left;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -0.035em;
  color: #415B6B; }
  .btn-accordion:hover {
    color: #415B6B;
    text-decoration: none; }

.btn-accordion span {
  display: block; }

.btn-accordion span:after {
  width: inherit;
  display: block;
  height: 3px;
  margin-bottom: -3px;
  content: '';
  background-color: #566FA0; }

.card-body--services {
  height: auto;
  padding: 30px 34px; }

.services-accordion .card-header .collapsed:after {
  background-image: url("../img/accordion-marker.svg");
  position: absolute;
  content: url("../img/accordion-marker--фаеук.svg"); }

.accordion .card {
  border-radius: 0; }
  .accordion .card .card-header {
    border-radius: 0; }

@media (min-width: 362px) {
  .equip-modal__header--services {
    padding-right: 14px; } }

@media (min-width: 375px) and (max-device-width: 601px) {
  .equip-modal__header--services {
    line-height: 52px;
    padding-right: 0px; } }

.card-header:first-child {
  border-radius: 0px; }

/*
.services-accordion .card-header:after{
    background-image: url('../img/accordion-marker.svg');
    position: absolute;
    content: '';
    background-position: center;
    width: 40px;
    height: 30px;
    background-repeat: no-repeat;
    top: calc(50% - 15px);
    right: 15px;
    
    //transform: rotate(-90Deg);
}

.services-accordion .card-header .collapsed:after{
    background-image: url('../img/accordion-marker.svg');
    position: absolute;
    content: url('../img/accordion-marker--фаеук.svg');

}*/
.accordion-list li {
  color: #566FA0;
  font-size: 20px; }

.accordion-list li span {
  color: #313131;
  font-size: 15px;
  line-height: 25px; }

.accordion-list__title {
  margin: 5px 0 !important;
  font-size: 15px;
  font-weight: 400; }

.card__footer {
  margin-top: 60px; }
  .card__footer p {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #566FA0;
    letter-spacing: -0.02em;
    text-transform: uppercase; }
  .card__footer button {
    margin: 40px auto 0;
    display: block;
    max-width: 470px;
    width: 80%; }

.services-cell {
  position: relative; }
  .services-cell h3 {
    color: #fff;
    position: absolute;
    top: calc(50% - 13px);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: -0.065em;
    line-height: 20px; }

.services-cell--active h3 {
  color: #fff;
  text-align: left;
  position: absolute;
  top: 24px;
  left: 20px;
  margin-right: 15px;
  width: 90%;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: -0.065em;
  line-height: 27px; }

.services-cell--active .services-cell__arrow-wrp {
  position: absolute;
  top: 180px;
  left: 10px;
  display: flex;
  align-items: center; }
  .services-cell--active .services-cell__arrow-wrp p {
    color: #fff;
    margin-left: 70px;
    font-weight: 300;
    margin-bottom: 25px;
    margin-right: -60px; }
  .services-cell--active .services-cell__arrow-wrp .sc-arrow-img {
    margin-right: -20px; }

.services-advantages {
  padding: 70px 0;
  background-image: url("../img/serv-adv-bg.jpg");
  background-size: cover;
  background-position: center; }
  .services-advantages h2 {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #fff;
    font-weight: 600;
    padding-bottom: 40px; }

.services-advantages--wrp {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px; }
  .services-advantages--wrp .col-md-4 {
    display: flex;
    justify-content: center; }

.serv-adv__numb-wrp {
  max-width: 300px;
  color: #fff;
  margin-bottom: 70px; }
  .serv-adv__numb-wrp span {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.065em; }
  .serv-adv__numb-wrp figcaption {
    margin: -39px 0 0 35px;
    width: 62px;
    z-index: 2;
    position: relative;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/square.svg"); }
  .serv-adv__numb-wrp h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.04em;
    margin-top: 10px; }
  .serv-adv__numb-wrp p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.045em;
    color: rgba(255, 255, 255, 0.7); }

@media (max-width: 576px) {
  .serv-adv__numb-wrp {
    text-align: center; }
  .serv-adv__numb-wrp figcaption {
    margin-left: 51%; } }

.news-wrp--services {
  margin-bottom: 140px !important; }

.services-modal__body {
  height: auto;
  margin-top: 50px; }

.services-modal {
  overflow-y: scroll;
  max-height: 990px; }

.services-modal__1row input, .services-modal__2row input {
  width: 100%;
  margin-bottom: 20px; }

.row3__input-wrp input {
  width: 100%; }

.row3__input-wrp textarea {
  width: 100%; }

.services-modal__subm-btn {
  width: 50%;
  margin-top: 50px; }

.services-modal__p {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.065em;
  color: #496373; }

.serv-modal-p-title {
  font-size: 16px;
  font-weight: 300; }

@media (min-width: 576px) {
  .services-modal__1row {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%; }
    .services-modal__1row input {
      width: 100%; }
  .services-modal__2row {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%; }
    .services-modal__2row input {
      width: 100%; }
  .row2__input-wrp {
    grid-column-start: 1;
    grid-column-end: 3; } }

.services-modal__subm-btn {
  width: 100% !important; }

.input-file-wrp input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 0; }

.input-file-wrp label {
  width: 100%;
  margin-bottom: 0;
  text-align: center; }

@media (min-width: 993px) {
  .services-modal__1row {
    display: grid;
    grid-template-columns: 25% 65%;
    column-gap: 7%;
    margin-bottom: 40px; }
  .services-modal__2row {
    grid-template-columns: 25% 25% 30%;
    column-gap: 7%; }
  .row2__input-wrp {
    grid-column-start: 3;
    grid-column-end: 4; }
  .services-modal__3row {
    display: grid;
    grid-template-columns: 57% 1fr;
    column-gap: 7%;
    align-items: end; }
  .services-modal__subm-btn {
    width: 50% !important; }
  .input-file-wrp label {
    width: 240px; } }

.services-modal__textarea {
  line-height: 27px !important;
  padding-top: 14px;
  transition: 0s; }

.form-check {
  padding-left: 0;
  margin-bottom: 10px; }

.form-check-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px; }

.form-check-input + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  color: rgba(49, 49, 49, 0.9); }

.form-check-input + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF; }

.form-check-input + label:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 4px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #566FA0;
  opacity: 0;
  transition: .2s; }

.form-check-input:checked + label:after {
  opacity: 1;
  border: 2px solid #566FA0; }

.form-check-input:checked + label:before {
  opacity: 1;
  border: 2px solid #566FA0; }

.row3__2coll p i {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.04em;
  color: rgba(49, 49, 49, 0.8);
  padding-bottom: 5px; }

.row3__2coll p {
  font-weight: 300;
  font-size: 10px;
  letter-spacing: -0.04em;
  color: rgba(49, 49, 49, 0.6); }

/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/webfonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/webfonts/Montserrat-Light.woff") format("woff"); }

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/webfonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/webfonts/Montserrat-Medium.woff") format("woff"); }

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/webfonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/webfonts/Montserrat-SemiBold.woff") format("woff"); }

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/webfonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/webfonts/Montserrat-Bold.woff") format("woff"); }

@font-face {
  font-family: "Georgia";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Georgia/Georgia-Bold.woff") format("woff"); }

* {
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat" !important; }

body {
  font-family: "Montserrat" !important; }

input {
  -webkit-tap-highlight-color: transparent; }

input[type=checkbox] {
  -webkit-appearance: none; }

button {
  outline: none;
  -webkit-tap-highlight-color: transparent; }

.button {
  background: linear-gradient(92.2deg, #95A3BF 25.37%, #5D7CA6 67.28%);
  box-shadow: 0px 12px 30px rgba(97, 127, 168, 0.54);
  width: 270px;
  height: 59px;
  border: none;
  font-size: 14px;
  line-height: 59px;
  align-items: center;
  letter-spacing: -0.02em;
  transition: ease-in .2s;
  color: #FFFFFF; }
  .button:hover {
    border: none;
    box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.44); }
  .button:active {
    transition: ease-in .2s;
    box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.44), inset 10px 10px 20px #416594;
    border: none; }

.input {
  background-color: #F3F3F3;
  width: 270px;
  height: 59px;
  line-height: 59px;
  padding-left: 46px;
  padding-right: 46px;
  outline: none;
  border: none;
  transition: ease-in .2s;
  border-radius: 0; }
  .input:focus {
    box-shadow: inset 0px 4px 20px rgba(138, 137, 137, 0.35);
    border: none; }

@media (max-width: 600px) {
  .input {
    padding-left: 20px;
    padding-right: 20px; } }

.hover__link:after {
  pointer-events: none;
  opacity: 0;
  transition: ease opacity 0.3s;
  transition-delay: .0s; }

.hover__link:hover:after {
  opacity: 1; }

.hover__link::after {
  transition: .2s;
  opacity: 0;
  margin-bottom: -3px;
  content: "";
  display: block;
  height: 3px;
  width: inherit;
  background: linear-gradient(92.2deg, #95A3BF 25.37%, #5D7CA6 67.28%); }
