.logo-wrp{
    margin-right: 0;
    display: flex;
    align-items: center;
}

.logo-text{
    margin-left: 10px;
}

.logo-name{
    font-size: 12px;
    font-weight: 500;
    color: #313131;
    margin-bottom: 3px;
    line-height: 12px;
}

.logo-slogan{
    line-height: 10px;
    font-size: 8px;
    margin-bottom: 0px;
    letter-spacing: -0.055em;
    color: #313131;
}

.nav-tel{
    margin-left: auto;
    margin-right: 20px;
}

.tel-number-wrp{
    display: none;
    text-align: center;
}

.navbar-toggler{
    position: relative;
    width: 30px;
    height: 21px;
}

.toggle-line{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #313131;
}
.toggle-line--first{
    top: 0;
}
.toggle-line--second{
    top: 7px;
}
.toggle-line--third{
    top: 14px;
}
@media(max-width:330px){
    .nav-tel{
        margin-right: 5px;
        img{
            width: 23px;
            height: 23px;
        }
    }
}

@media(min-width:470px){
    .tel-number-wrp{
        display: block;
    }

    .nav-tel{
        img{
            display: none;
        }
    }
    .tel-number{
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        color: #313131;
        margin-bottom: 5px;
    }
    .tel-text{
        margin-bottom: 0px;
        font-weight: 300;
        font-size: 10px;
        color: #313131;
        line-height: 12px;
    }
}

.nav-link{
    color: #313131;
}

@media(min-width:990px){
    .nav-tel{
        order: 3;
    }
    .nav-list-wrp{
        order: 2;
        ul{
            width: 83%;
            justify-content: space-between !important;
        }
    }

    .logo-name{
        font-size: 16px;
        line-height: 20px;
    }
    .logo-slogan{
        font-size: 10px;
    }

    .logo-wrp{
        img{
            width: 79px;
            height: 79px;
        }
    }
}

.navbar-expand-lg{
    max-width: 1160px;
    margin: 0 auto;
}
@media(min-width: 1190px){
    .navbar{
        padding-left: 0;
        padding-right: 0;
    }
}

.nav-link:hover{
    color: inherit;
}

@media(min-width:992px){
    .nav-link{
        &:after {
            pointer-events: none; // чтоб не мешался
            opacity: 0;
            transition: ease opacity 0.3s;
            transition-delay: .0s; // при убирании курсора анимация сразу сработает
          }
        
          &:hover {
            &:after {
              opacity: 1;
            }
          }
    }
    .nav-link::after{
        transition: .2s;
        opacity: 0;
        margin-bottom: -3px;
        content: "";
        display: block;
        height: 3px;
        width: inherit;
        background: linear-gradient(92.2deg, #95A3BF 25.37%, #5D7CA6 67.28%);
    }
}


.nav-tel{
    &:hover{
        text-decoration: none;
        div p{
            color: #3f6aa7;
        }
    }
}

.logo-wrp{
    &:hover{
        div p{
            color: #3f6aa7;
        }
    }
}



@media(min-width:700px){
    .footer__adress-1{
        white-space: pre;
    }
}
  /*
  .wrapper-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }
  
  .wrapper-menu.open {
    transform: rotate(-45deg);  
  }
  
  .line-menu {
    background-color: #000;
    border-radius: 2px;
    width: 100%;
    height: 3px;
  }
  
  .line-menu.half {
    width: 50%;
  }
  
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  .open .center{
      width: 70%;
  }
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(2px);
  }
  
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-2px);
  }
  */
  
  .wrapper-menu{
    height:30px;
    width:30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &:hover{
      cursor:pointer;
    }
  }
  .hambergerIcon{
    height: 3px;
    width:30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 1px;
    background-color: #313131;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: all ease 0.5s;
    &::before,&::after{
      content:"";
      position: absolute;
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
      margin: auto;
      width: 50%;
      transition: all ease 0.5s;
    }
    &::before{
      top: -10px;
      left: 0;
      transform-origin: left;
    }
    &::after{
      bottom:-10px;
      right: 0;
      transform-origin: right;
    }
  }
  
  .open{
    transform:translate(-50%,-50%) rotate(135deg);
    &::before{
      top:0;
      transform: translateX(100%) rotate(-90deg);
    }
    &::after{
      bottom:0;
      transform: translateX(-100%) rotate(-90deg);
    }
  }
  
  