.modal-close{
    position: absolute;
    top: 15px;

    right: 32px;
    z-index: 14;
    background-color: rgba($color: #fff, $alpha: 0.6);
    border: none;
}
.modal--project{
    margin: 15px 0;
    .btn-wrp{
        bottom: -21px;
    }
}
.news-wrp{
    position: relative;
}
.modal-bg{
    display: none;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 2;
    background-color: rgba($color: #000000, $alpha: 0.4);
}
.project-card{
    height: 90vh;
    max-height: 1000px;
    //padding: 15px 20px;
}

.project-wrp{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.project-card{
    background-color: #fff;
    header{
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;

        img{
            text-align: center;
            max-width: none;
            min-width: auto;
            min-height: auto;
            object-fit: cover;
            height: auto;
            width: auto;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        figcaption{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            height: 100%;
            h2{
                margin-top: 30px;
                margin-bottom: 0;
            }
        }
    }
    .project-card__title-wrp{
        z-index: 10;
        color: #fff;
        position: relative;
        text-align: center;
    }
}

.project-card__body{
    overflow-y: auto;
    height: calc(100% - 200px);
    padding: 20px 15px;
}

.bottom_hr{
    width: 80%;
    height: 4px;
    border:  none;
    border-radius: 50%;
    background-color: #000;
    box-shadow: inset 0px 0px 1px 1px rgba($color: #fff, $alpha: 1);
    display: block;
}

.cell{
    display: block;
}

.owl-nav{
    right: 16px;
    width: 147px;
    height: 42px;
    background-color: rgba(149, 163, 191, 0.6);    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;
}

.owl-carousel .owl-nav button.owl-prev{
    width: 50%;
    background-repeat: no-repeat;
    content: "";
    font-size: 0;
    background-position: center;
    background-image: url('../img/prev-btn.svg');
}

.owl-carousel .owl-nav button.owl-next{
    width: 50%;
    background-repeat: no-repeat;
    content: "";
    font-size: 0;
    background-position: center;
    background-image: url('../img/next-btn.svg');
}
.owl-carousel .owl-nav button:hover{
    background-color: rgba(149, 163, 191, 0.2);

}

.owl-carousel .owl-nav button:active{
    opacity: 0.6;
}





.project-card__title-wrp{
    &:after{
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: scale(1 , 1);
        opacity: 1;
        content: '';
        position: absolute;
        transition: .4s;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        left: 20px;
        top: 20px;
      }
      &:before{
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: scale(1 , 1);
        opacity: 1;
        content: '';
        position: absolute;
        transition: .4s;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        left: 20px;
        top: 20px;
      }
}


.project-card__text-block{
    h5{
        width: min-content;
        font-size: 23px;
        font-weight: 400;
    }
    p{
        font-weight: 300;
    }
    h5::after{
        display: block;
        content: "";
        width: auto;
        height: 3px;
        background-color: #566FA0;
    }
}

@media(min-width:404px){
    .project-card__text-block{
        h5{
            white-space: pre;
            
        }
    }
}

@media(min-width:960px){
    .cell-wrp{
        max-width: 1240px;
        width: 90%;
        margin: 80px auto 40px;
        display: grid;
        grid-gap: 2%;
        grid-template-columns: 59% 39%;
        grid-template-rows: 390px 170px 210px;
        :nth-child(2){
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        :nth-child(3){
            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        :nth-child(4){
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }
    .cell{
        width: 100%;
        min-height: auto;
    }
    .project-card{
        padding: 50px 60px;
        overflow-y: auto;
        header{
            height: 400px;
        }
    }
    .project-card__body{
        overflow-y: hidden;
        padding: 20px 0 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
        
    }
    .project-card__text-block{
        width: 47%;
        padding: 20px 0;
        display: inline-block;
        margin-bottom: auto;
    }
    .popup__cancel{
        background-color: rgba(0,0,0, 0.0);
        top: 14px;
        right: 40px;
    }
    .project-card__title-wrp{
        h2{
            font-size: 40px;
            line-height: 40px;
            padding-top: 50px;
        }
        p{
            font-weight: 500;
            font-size: 25px;
            line-height: 33px;
            padding-bottom: 50px;
        }
    }
    .owl-nav{
        right: 60px;
    }
}

.show-more{
    p{
        font-size: 18px;
        font-weight: 300;
    }
    width: 220px;
    height: 100px;
    align-items: center;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

